// env.cpp
#include "infrastructure/env.h"

const char* OTA_HOSTNAME = "ESP8266-OTA";
const char* OTA_PASSWORD = "your_password";

const char* WIFI_SSID = "name";
const char* WIFI_PASSWORD = "pass";
const char* WIFI_IP = "192.168.1.205";
const char* WIFI_GATEWAY = "192.168.1.1";
const char* WIFI_SUBNET = "255.255.255.0";

const int GREEN_LED_PIN = D6;
const int BUZZER_PIN = D7;

const int FRONT_LED_MATRIX = D0;
const int MIDDLE_LED_MATRIX = D1;
const int BACK_LED_MATRIX = D2;

const int BOARD_LED = D4;

const unsigned char TEMPERATURE_SENSOR_PIN = D5;
const unsigned long TEMPERATURE_READ_PERIOD = 2 * 60 * 1000;
const unsigned long TEMPERATURE_FIRST_READ_AFTER_LOAD_INTERVAL = 5 * 1000;
const unsigned long TEMPERATURE_SEND_PERIOD = 10 * 60 * 1000;
const unsigned long WS_CLIENT_UPDATE_PERIOD = 10 * 60 * 1000;
const String TEMPERATURE_SERVER_IP = "192.168.1.200";
const String TEMPERATURE_SERVER_PORT = "80";
const String TEMPERATURE_SERVER_URI = "/outdoor/temperature";
const String TEMPERATURE_SERVER_PARAM_NAME = "temp";
const String TEMPERATURE_SERVER_URL = "http://" 
    + TEMPERATURE_SERVER_IP 
    + ":" 
    + TEMPERATURE_SERVER_PORT 
    + TEMPERATURE_SERVER_URI;

const int SCHEDULER_MAX_TASKS_COUNT = 10;
