// env.cpp
#include "infrastructure/env.h"

const char* OTA_HOSTNAME = "ESP8266-OTA";
const char* OTA_PASSWORD = "your_password";

const char* WIFI_SSID = "name";
const char* WIFI_PASSWORD = "pass";
const char* WIFI_IP = "192.168.1.205";
const char* WIFI_GATEWAY = "192.168.1.1";
const char* WIFI_SUBNET = "255.255.255.0";

const unsigned int WATER_VOLUME = 70;
const unsigned int COUNT_BATTERY_LEVEL_READ = 10;

const unsigned int WATER_SENSOR_1_LEVEL_PERCENT = 100; //70 l
const unsigned int WATER_SENSOR_2_LEVEL_PERCENT = 85;
const unsigned int WATER_SENSOR_3_LEVEL_PERCENT = 70;
const unsigned int WATER_SENSOR_4_LEVEL_PERCENT = 55;
const unsigned int WATER_SENSOR_5_LEVEL_PERCENT = 40;
const unsigned int WATER_SENSOR_6_LEVEL_PERCENT = 25;
const unsigned int WATER_SENSOR_7_LEVEL_PERCENT = 10;
const unsigned int WATER_MIN_LEVEL_PERCENT = 5;

const String WATER_SENSOR_1_LEVEL_PERCENT_RANGE = "100";
const String WATER_SENSOR_2_LEVEL_PERCENT_RANGE = "85-99";
const String WATER_SENSOR_3_LEVEL_PERCENT_RANGE = "70-84";
const String WATER_SENSOR_4_LEVEL_PERCENT_RANGE = "55-69";
const String WATER_SENSOR_5_LEVEL_PERCENT_RANGE = "40-54";
const String WATER_SENSOR_6_LEVEL_PERCENT_RANGE = "25-39";
const String WATER_SENSOR_7_LEVEL_PERCENT_RANGE = "10-24";
const String WATER_MIN_LEVEL_PERCENT_RANGE = "<10";

const String WATER_SENSOR_1_LEVEL_LITER_RANGE = "70";
const String WATER_SENSOR_2_LEVEL_LITER_RANGE = "60-69";
const String WATER_SENSOR_3_LEVEL_LITER_RANGE = "49-59";
const String WATER_SENSOR_4_LEVEL_LITER_RANGE = "38-48";
const String WATER_SENSOR_5_LEVEL_LITER_RANGE = "28-37";
const String WATER_SENSOR_6_LEVEL_LITER_RANGE = "17-27";
const String WATER_SENSOR_7_LEVEL_LITER_RANGE = "7-16";
const String WATER_MIN_LEVEL_LITER_RANGE = "<7";

const int BUZZER_PIN = D7;
const int WATER_COMMON_PIN = D0;
const int BATTERY_LEVEL_SENSOR_ACTUATOR_PIN = D4;

const float V_REF = 1.0;
const float BATTERY_MAX_LEVEL = 8.4;
const float BATTERY_MIN_LEVEL = 5.0;
const float BATTERY_LEVEL_CORRECT_COEFFICIENT = 1.043;

const unsigned char TEMPERATURE_SENSOR_PIN = D5;
const String SERVER_IP = "192.168.1.200";
const String SERVER_PORT = "80";
const String SHOWER_UPDATE_SERVER_URI = "/shower/update";
const String SHOWER_WATER_LEVEL_PERCENT_PARAM_NAME = "water_percent";
const String SHOWER_WATER_LEVEL_LITER_PARAM_NAME = "liter";
const String SHOWER_WATER_TEMPERATURE_PARAM_NAME = "temp";
const String SHOWER_BATTERY_VOLTAGE_PARAM_NAME = "battery_voltage";
const String SHOWER_BATTERY_PERCENT_PARAM_NAME = "battery_percent";

const String SHOWER_UPDATE_SERVER_URL = "http://" 
    + SERVER_IP 
    + ":" 
    + SERVER_PORT 
    + SHOWER_UPDATE_SERVER_URI;

const unsigned int DEEP_SLEEP_TIME_MINUTES = 1;
